.icon {
  width: 64px;
  height: 64px;
}
/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-main: #00c4cc;
  --color-sub: #004aad;

  /* Font size */

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --font-section2: 0.8em;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}
/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: 1em;
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 4px 0;
  line-height: 2;
}

dd {
  margin: 0;
  padding: 0;
}
#navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  transition: var(--animation-duration) ease-in-out;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  z-index: 2;
}

#navbar.navbar--dark {
  background-color: var(--color-main);
  padding: 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-sub);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("imgs/main.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;

  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

#img {
  box-shadow: 0px 0px 10px 0px var(--color-dark-grey);
}

#about > div {
  width: 1300px;
  margin: 0 auto;
  padding-top: 70px;
  height: 650px;
}

.me {
  font-weight: bold;
  font-size: 30px;
  font-family: "Noto Sans KR";
}

.me > strong {
  color: var(--color-main);
  border-bottom: 3px solid black;
  font-family: "Noto Sans KR";
}

#about > div > div {
  float: left;
}

#about > div > div:last-child {
  width: 700px;
  margin-left: 100px;
  text-align: left;
  font-family: "Noto Sans KR";
}

#about > div > div > h3 {
  margin-top: 40px;
  color: var(--color-dark-grey);
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans KR";
}

#about > div > div > p {
  font-size: 14px;
  line-height: 2.5;
  margin-top: 15px;
}

#about > div > div > .ican > li {
  width: 345px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}

/*여기 테스트 */
.section2 {
  margin: auto;
  text-align: center;
}
.iwill {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #262626;
}

.iwill::before {
  position: absolute;
  left: 7%;
  top: 330px;
  min-width: 86%;
  height: 0;
  border-bottom: 1px dashed #cccccc;
  content: "";
}

.iwill > h3 {
  height: 100px;
  color: #fff;
  line-height: 100px;
  text-indent: -5px;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}

.iwill > div > dl {
  position: absolute;
  top: 100px;
  width: 300px;
  text-align: center;
}

.iwill > div > dl:nth-child(1) {
  left: 7%;
}
.iwill > div > dl:nth-child(2) {
  left: 50%;
  margin-left: -150px;
}
.iwill > div > dl:nth-child(3) {
  right: 7%;
}

.iwill > div > dl > dt > strong {
  display: block;
  margin-top: 250px;
  font-weight: 600;
  font-size: 15px;
  line-height: 40px;
}

.iwill > div > dl > dt > strong::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  content: "";
}

.iwill > div > dl:nth-child(1) > dt > strong::before {
  background-image: url("imgs/aboutme/iwill_01.jpg");
}

.iwill > div > dl:nth-child(2) > dt > strong::before {
  background-image: url("imgs/aboutme/iwill_02.jpg");
}

.iwill > div > dl:nth-child(3) > dt > strong::before {
  background-image: url("imgs/aboutme/iwill_03.jpg");
}

.iwill > div > dl > dt > strong::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 210px;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  background-color: #fff;
  border-radius: 5px;
  content: "";
}

.iwill > div > dl:nth-child(1) > dt > strong {
  color: orange;
}
.iwill > div > dl:nth-child(2) > dt > strong {
  color: #42a7ff;
}
.iwill > div > dl:nth-child(3) > dt > strong {
  color: yellow;
}

.iwill > div > dl > dd {
  color: #a6a5a5;
  line-height: 1.8;
  font-size: var(--font-section2);
}

.iwill > div > dl > dd > q {
  color: #fff;
  font-size: 18px;
  line-height: 40px;
}

/*테스트 끝 */
.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

#skills {
  background-color: var(--color-yellow);
}

#skills > div > h2 {
  margin: 20px 0;
}

#skills > div > p {
  font-family: "Noto Sans KR";
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset {
  display: flex;
  background-color: #203354;
  color: var(--color-light-white);
  margin: 20px 0;
  box-shadow: 0px 0px 10px 0px #23395d;
}

.skillset__left {
  flex-basis: 60%;
  background-color: #192841;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 20px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: #1c2e4a;
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-sub);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.9) translateY(40px);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}
.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translate(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial 
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  width: 100%;
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}
*/

/*Exprience*/

#experience {
  background-color: #3961c9;
}

#experience > div > h1 {
  color: white;
}

#experience > div > h3 {
  color: white;
  font-family: "Noto Sans KR";
  font-size: var(--font-medium);
  font-weight: bold;
}
#experience > div > h3 > strong {
  color: yellow;
}
#experience div > ul > .swiper-button-prev {
  width: 29px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/imgs/swiper/왼쪽.png) no-repeat 0 0;
}

#experience div > ul > .swiper-button-prev:hover {
  background-image: url(/imgs/swiper/왼쪽호버.png);
}

#experience div > ul > .swiper-button-next {
  width: 29px;
  height: 46px;
  text-indent: 9999px;
  overflow: hidden;
  background: url(/imgs/swiper/오른쪽.png) no-repeat 0 0;
}

#experience div > ul > .swiper-button-next:hover {
  background-image: url(/imgs/swiper/오른쪽-호버.png);
}

.swiper-container {
  padding: 30px;
}

.mutifle {
  margin: 40px 0;
}
.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
  /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
  box-shadow: 0px 0px 20px 0px var(--color-dark-grey);
}

.swiper-slide .title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Noto Sans KR";
  color: white;
}
.swiper-slide .title:after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 3px solid #fff176;
  margin: 15px auto;
}

.swiper-slide .description {
  margin-top: 10px;
  padding-bottom: 30px;
  font-size: 15px;
  font-family: "Noto Sans KR";
  text-align: center;
  color: var(--color-white);
  line-height: 2;
}
/*experience2*/
#experience2 {
  background-image: url(/imgs/Expreince/미래.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url(/imgs/Expreince/미래.png) no-repeat center/cover;
  width: 100%;
  height: 50vh;
}
#experience2 > h1 {
  color: white;
  font-family: "Noto Sans KR";
  margin-top: 45px;
}

#experience2 > h1 > strong {
  color: #02e9f2;
  border-bottom: 3px solid var(--color-white);
}

#experience2 > p {
  color: white;
  font-family: "Noto Sans KR";
  margin-top: 50px;
  font-size: 17px;
}

/*experience2끝*/

/* Contact */

#contact {
  background-color: var(--color-main);
}
.contact__title {
  margin: 32px 0;
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: white;
  background-color: var(--color-sub);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px scerren width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-main);
    z-index: 2;
  }
  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  #about > div {
    width: 100%;
    padding: 50px 40px 40px;
    height: 1300px;
  }

  #about > div > div:last-child > h2:first-child {
    margin-top: 40px;
  }
  .me {
    font-size: 20px;
  }

  #about > div > div:first-child {
    width: 100%;
  }

  #about > div > div:first-child img {
    display: block;
    width: 240px;
    margin: 0 auto;
  }
  #about > div > div:last-child {
    width: 100%;
    margin-left: 0;
  }

  #about > div > div:last-child h3 {
    margin-bottom: 0;
    font-size: 16px;
  }
  .about_me > div > div:last-child p {
    font-size: 12px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  #skills > p {
    font-size: 14px;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }
  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__speech-bubble {
    order: 1;
  }

  #experience2 {
    height: 70vh;
  }

  #experience2 > h1 {
    font-size: 30px;
  }

  #experience2 > p {
    font-size: 14px;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
